.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f1ff;
  font-family: "Arial", sans-serif;
}

.login-card {
  width: 350px;
  background: white;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.login-card h1 {
  margin-bottom: 25px;
  color: #5b4d8c;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.login-card button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #7c68c4;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.login-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.login-links p {
  color: #7c68c4;
  cursor: pointer;
  text-decoration: underline;
}
